body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background: #836FFF; 

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    /* Optional: Adjust to move further down from the top */
    gap: 10px;
}

.form-control {
    width: 70rem;
    height: 70rem;
    padding: 10px;
    font-size: 16px;
    resize: none;
    /* Prevents resizing */
}

textarea {
    background: #F0F3FF;
    color: #211951;
    border-color: #F0F3FF;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    color: #211951;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    margin-top: 20px;
}

.card {
    background-color: #211951;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 26rem;
    margin: 20px;
    text-align: left;
    color: #15F5BA;
}
.card h3 {
    margin-top: 0;
    border-bottom: 2px solid #15F5BA;
    padding-bottom: 10px;
}
.card p {
    margin: 10px 0;
    word-wrap: break-word;
}

label {
    color: #15F5BA;
}

#print-tree {
    width: 8rem;
}

.tree {
    display: grid;
    width: 62rem;
    justify-content: center;
}

.row-one {
    display: grid;
    justify-content: center;
}

.row-two {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
}

.row-three {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.input {
    background: #15F5BA;
    border-color: #15F5BA;
    font-size: 18px;
    font-weight: 500
}

.nav {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin: 10px;
    background-color: #F0F3FF;
    width: 32rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #211951;
    flex-direction: row;
}

.nav-link  {
    /* background-color: #15F5BA; */
    color: #211951;
}

.nav:hover {
    background-color: #15F5BA;
}
.nav-link:hover { color: #F0F3FF; }

.input-card {
    display: grid;
    justify-content: center;
    margin: 2rem;
    justify-items: center;
}

.hash-input {
    display: flex;
    margin: 14px;
    flex-direction: column-reverse;
}

.input-hash {
    background: #211951;
    color: #15F5BA;
    border-color: #211951;
    border-radius: 5px;
    height: 50px;
    width: 10rem;
    margin-bottom: 10px;
}

#select {
    background-color: #211951;
    color: #15F5BA;
    border-color: #211951;
}

.hash-output {
    background-color: #211951;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    color: #15F5BA;
}

#hash-submit-btn {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    color: #211951;
    background: #15F5BA;
    border-color: #15F5BA;
    font-weight: 500;
}

#hash-submit-btn:hover {
    color: #15F5BA;
    background: #211951;
    border-color: #211951;
}